body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

main
{
    box-shadow: 5px 5px 20px black;
    border-radius: 30px;
    margin: 20px 10%;
    padding: 100px 50px;
    background-color: white;
}

a
{
    color: whitesmoke;
}

@font-face {
    font-family: "Serati";
    font-style: italic;
    font-weight: 400;
    src: 
        local("Serati"),
        url("../fonts/Serati-Italic.otf")
}