/*   footer   */
.footer
{
    background-image: url('../images/static/phone_3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 10% 15%; */
    background-position: 0 65%;
    /* background-position: 0 30%; */


    width: 100%;
    min-height: 300px;
    display: grid;
    padding-top: 50px;
    padding-bottom: 100px;
    grid-template-columns: 1fr 8fr 1fr 12fr 1fr;
}

/*   footer-lit   */
.footer-lit
{
    color: whitesmoke;
    text-align: center;
}

.footer-lit___list
{
    transform: translate(0);
    list-style: disc;
    list-style-position: inside;
}

.footer-lit___title
{
    font-size: 20px;
    font-weight: bold;
}

.footer-lit___link
{
    color: whitesmoke;
}

.footer-lit___link:hover
{
    color: crimson;
}

/*   footer-nav   */
.footer-nav
{
    color: whitesmoke;
}

.footer-nav___links
{
    font-size: 30px;
    padding: 25px;
}

.footer-nav___anchors
{
    font-size: 20px;
    padding: 25px;
}
 
.footer-nav___list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-nav___list-item
{
    padding: 10px;
}

.footer-nav___list-item
{
    color: whitesmoke;
    text-decoration: underline;
}

.footer-nav___list-item:hover
{
    color: crimson;
}

