/*   header   */
.header
{
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header___top
{
    color: whitesmoke;
}

.header___topline
{
    margin: 0;
    border-color: crimson;
}





/*   menu-info   */
.menu-info
{
    transform: translate(0);
}

.menu-info___list
{
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
}

.menu-info___list-item
{
    padding: 5px 20px;
    font-size: 12px;
    text-wrap-mode: nowrap;
}

.menu-info___citate 
{
    color: crimson;
}

.menu-info___freespace 
{
    flex-grow: 1;
}






/*   menu-links   */
.menu-links
{
    transform: translate(0);
}

.menu-links___list
{
    display: flex;
    padding: 0 10%;
}

.menu-links___list-item
{
    padding: 30px;
    font-size: 24px;
    color:crimson;
}

.menu-links___list-item_aimed:hover
{
    background-color: crimson;
    color: whitesmoke;
}

.menu-links___list-item_selected
{
    background-color: crimson;
    color: whitesmoke;
}

.menu-links___freespace
{
    flex-grow: 1;
}





/*   menu-nav   */
.menu-nav
{
    color: whitesmoke;
    background-color: crimson;
}

.menu-nav___list
{
    display: flex;
    justify-content: center;
}

.menu-nav___list-item
{
    padding: 10px 20px;
    text-align: center;
}

.menu-nav___list-item_aimed:hover
{
    background-color: whitesmoke;
    color: crimson;
}



/*   footer   */
.footer
{
    background-color: black;
    width: 100%;
    min-height: 50px;
    display: grid;
    padding-top: 50px;
    padding-bottom: 100px;
    grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
}

/*   footer-lit   */
.footer-lit
{
    color: whitesmoke;
    background-color: gray;
    text-align: center;
}

.footer-lit___list
{
    transform: translate(0);
    list-style: image('');
    list-style-position: inside;
}

.footer-lit___title
{
    font-size: 20px;
    font-weight: bold;
}

.footer-lit___link
{
    color: whitesmoke;
}

.footer-lit___link:hover
{
    color: crimson;
}

/*   footer-nav   */
.footer-nav
{
    color: whitesmoke;
    background-color: gray;
}
 