/*   header   */
.header
{
    background-color: black;
}

.header___top
{
    color: whitesmoke;
}

.header___topline
{
    margin: 0;
    border-color: crimson;
}





/*   menu-info   */
.menu-info
{
    transform: translate(0);
}

.menu-info___list
{
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
}

.menu-info___list-item
{
    padding: 5px 20px;
    font-size: 12px;
    text-wrap-mode: nowrap;
}

.menu-info___citate 
{
    color: crimson;
}

.menu-info___freespace 
{
    flex-grow: 1;
}






/*   menu-links   */
.menu-links
{
    transform: translate(0);
}

.menu-links___list
{
    display: flex;
    padding: 0 10%;
}

.menu-links___list-item
{
    padding: 30px;
}

.menu-links___list-item_aimed:hover
{
    background-color: crimson;
}

.menu-links___freespace
{
    flex-grow: 1;
}





/*   menu-nav   */
.menu-nav
{
    color: whitesmoke;
    background-color: crimson;
}

.menu-nav___list
{
    display: flex;
    justify-content: center;
}

.menu-nav___list-item
{
    padding: 10px 20px;
    text-align: center;
}

.menu-nav___list-item_aimed:hover
{
    background-color: whitesmoke;
    color: crimson;
}
