.box
{
    width: 100%;
}

.image-box
{
    width: 200px;
    padding: 25px 0;
    position: relative;
}

.image-box___image
{
    width: 100%;
}

.animation_1
{
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.animation_2
{
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animation_3
{
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.animation_4
{
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes animation
{
    from
    {
        left: 0;
    }
    to
    {
        left: calc(100% - 200px);
    }
}
